body {
	.gridSetup(@gridColumns);
	border: none;
}

.pkp_structure_page,
.pkp_structure_head,
.pkp_structure_content,
.pkp_structure_footer_wrapper {
	display: contents;
	width: 100%;
}

.pkp_head_wrapper {
	.gridWidthFull();
	grid-row: 1;

	.gridSetup(@gridColumns);
	grid-template-rows: 150px 1fr 40px;

	.pkp_site_name_wrapper {
		.gridWidthQuarter(2);
		grid-row: 1;
		height: 100%;
		display: flex;
		align-items: center;
		justify-items: left;

		h1 {
			//align-items: center;
			//justify-items: left;
			margin: 0;
		}
	}

	.pkp_navigation_user_wrapper {
		.gridWidthTwo(11);
		grid-row: 1;
		display: flex;
		justify-items: right;
		align-items: top;
	}

	/*.pkp_search_wrapper {
		.gridWidthQuarter(8);
		grid-row: 1;
		display: flex;

		justify-items: left;
		align-items: top;

		form {
			float: right;
		}
	}*/

	.heroContainer {
		.gridWidthFull();
		grid-row: 2;
	}

	.pkp_navigation_primary_row {
		.gridWidthFull();
		grid-row: 3;
		width: 100%;
		height: 100%;

		.gridSetup(@gridColumns);
		grid-template-rows: 30px;

		.pkp_navigation_primary_wrapper {
			display: contents;

			.pkp_navigation_primary {
				.gridWidthCustom(2, 7);
				grid-row: 1;

				align-items: center;
			}
		}
	}
}


.pkp_structure_main,
.pkp_structure_sidebar {
	grid-row-start: 2;
	grid-row-end: 3;
}

.pkp_structure_content when (@sidebarPosition ='off') {
	.pkp_structure_main {
		.gridWidthCustom(2, 10);
		width: 100%;
		padding: 0;
		margin: 0;
		//.gridSetup(10);
		//grid-template-rows: 1fr 1fr 1fr 1fr;
		display: flex;

		div,
		section {
			//grid-column-start: 1;
			//grid-column-end: 11;
			width: 100%;
		}

		.homepage_image,
		.additional_content,
		.cmp_announcements,
		.journal-description-above,
		.journal-description-above {
			margin-top: 45px;
			margin-bottom: 45px;
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	.pkp_structure_sidebar {
		visibility: hidden;
	}
}

.pkp_structure_content when (@sidebarPosition='right') {
	.pkp_structure_main {
		.gridWidthCustom(2, 7);
		//.gridSetup(7);
		//grid-template-rows: 1fr 1fr 1fr 1fr;
		padding: 0;
		width: 100%;
		margin: 0;
		display: flex;

		div,
		section {
			//grid-column-start: 1;
			//grid-column-end: 8;
			width: 100%;
		}

		.homepage_image,
		.additional_content,
		.cmp_announcements,
		.journal-description-above,
		.journal-description-above {
			margin-top: 45px;
			margin-bottom: 45px;
		}
	}

	.pkp_structure_sidebar {
		.gridWidthCustom(10, 2);
		//.gridSetup(2);
		//grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

		width: 100%;
		padding: 0;
		margin: 0;
		display: block;

		.pkp_block {
			display: block;
			width: 100%;
			padding: 0;
			margin: 0;

			//margin-top: 45px;
			//margin-bottom: 45px;
			padding-top: 45px;
			padding-bottom: 45px;
		}

	}
}

.pkp_structure_content when (@sidebarPosition ='left') {
	.pkp_structure_main {
		.gridWidthCustom(5, 7);
		.gridSetup(7);
		grid-template-rows: 1fr 1fr 1fr 1fr;

		div,
		section {
			grid-column-start: 1;
			grid-column-end: 8;
			width: 100%;
		}

		.homepage_image,
		.additional_content,
		.cmp_announcements,
		.journal-description-above,
		.journal-description-above {
			margin-top: 45px;
			margin-bottom: 45px;
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	.pkp_structure_sidebar {
		.gridWidthCustom(2, 2);
		//.gridSetup(2);
		//grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		width: 100%;
		padding: 0;
		margin: 0;
		display: block;

		.pkp_block {
			display: block;
			width: 100%;
			padding: 0;
			margin: 0;

			margin-top: 30px;
			margin-bottom: 30px;

			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}

.pkp_structure_footer {
	.gridWidthFull();
	width: 100%;
	grid-row-start: 3;
	grid-row-end: 4;
	display: grid;
	.gridSetup(@gridColumns);

	.pkp_footer_content {
		.gridWidthCustom(2, 7);
		grid-row-start: 1;
		grid-row-end: 3;

		display: flex;
		align-items: center;
	}

	.pkp_brand_footer {
		.gridWidthCustom(10, 2);
		grid-row-start: 1;
		grid-row-end: 3;

		display: flex;
		align-items: center;
		justify-items: center;
	}
}
