@media (min-width: @screen-desktop) {
	.cmp_announcements {
		margin-left: 0px;
		margin-right: 0px;
	}

	.obj_issue_toc .galleys:before,
	.obj_issue_toc .section:before {
		border-top: 0px;
		display: none;
	}
}

@media (min-width: @screen-lg-desktop) {
	.cmp_announcements {
		margin-left: 0px;
		margin-right: 0px;
	}

	.obj_issue_toc .galleys:before,
	.obj_issue_toc .section:before {
		border-top: 0px;
		display: none;
	}
}

@media (min-width: @screen-tablet) {
	.cmp_announcements {
		margin-left: 0px;
		margin-right: 0px;
	}

	.obj_issue_toc .galleys:before,
	.obj_issue_toc .section:before {
		border-top: 0px;
		display: none;
	}
}

@media (min-width: @screen-phone) {
	.cmp_announcements {
		margin-left: 0px;
		margin-right: 0px;
	}

	.obj_issue_toc .galleys:before,
	.obj_issue_toc .section:before {
		border-top: 0px;
		display: none;
	}
}

.pkp_page_index .additional_content {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

article {
	.row {
		border-top-width: 0px !important;
		border-bottom-width: 0px !important;
	}

	.main_entry {
		border-right-width: 0px !important;
	}

	.entry_details {
		border-left-width: 0px !important;

		.item {
			border-bottom-width: 0px !important;
		}
	}
}

.issues_archive {
	border-top-width: 0px !important;

	li {
		border-bottom-width: 0px !important;
	}
}
